/* PHPTAL website uggly stylesheet 
 *
 * Author: Laurent Bedubourg <lbedubourg@motion-twin.com>
 */

body {
font-family: Georgia, Arial, Helvetica, sans-serif;
width: 640px;
margin: auto;
}

.nav {
padding-top: 0px;
margin-top: -50px;
text-align: right;
}

#header h1, #header h2 {
padding: 0px;
margin: 0px;
letter-spacing: 3px;
}
#header h1 {
letter-spacing: 10px;
border: 0px;
}
#header h1 a {
text-decoration: none;
}
#header h2 {
font-style: italic;
font-size: 0.8em;
color: #000;
}

body  h1 {
border-bottom: 5px solid #000;
}
body  h2 {
font-size: 1.5em;
color: #777;
}

p {
text-align: justify;
}

pre {
border-left: 10px solid #000;
padding-left: 10px;
margin-left: 20px;
}

code {
color: #833;
}

a {
color: #00E;
}
a:hover {
}
a img {
border: 0px solid #000;
}

acronym {
}

#footer {
text-align: center;
}
#footer a {
}

.pon {
}
.pon .date {
margin-top: -15pt;
font-size: 1.1em;
font-style: italic;
letter-spacing: 5pt;
}

